global:
  resolve_timeout: 5m
  smtp_from: 'alerts@germe-tech.local'
  smtp_smarthost: '192.168.40.10:25'
  smtp_require_tls: false

route:
  group_by: ['alertname', 'instance']
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 12h
  receiver: 'default'
  routes:
    - match:
        severity: critical
      receiver: 'critical-alerts'
    - match:
        severity: warning
      receiver: 'warning-alerts'

receivers:
  - name: 'default'
    email_configs:
      - to: 'admin@germe-tech.local'
        headers:
          Subject: '[Alerte] {{ .GroupLabels.alertname }}'

  - name: 'critical-alerts'
    email_configs:
      - to: 'alerts@germe-tech.local'
        headers:
          Subject: '[CRITIQUE] {{ .GroupLabels.alertname }}'

  - name: 'warning-alerts'
    email_configs:
      - to: 'alerts@germe-tech.local'
        headers:
          Subject: '[Warning] {{ .GroupLabels.alertname }}'

inhibit_rules:
  - source_match:
      severity: 'critical'
    target_match:
      severity: 'warning'
    equal: ['alertname', 'instance']
