---
- name: Create folder for windows_exporter
  win_file:
    path: C:\windows_exporter
    state: directory

- name: Copy windows_exporter binary (offline mode)
  win_copy:
    src: windows_exporter.exe
    dest: C:\windows_exporter\windows_exporter.exe

- name: Ensure Windows Exporter service is present and running
  win_service:
    name: windows_exporter
    path: '"C:\windows_exporter\windows_exporter.exe" --web.listen-address=:{{ windows_exporter_port }}'
    start_mode: auto
    state: started

- name: Ensure firewall rule for Windows Exporter
  win_firewall_rule:
    name: "Windows Exporter"
    localport: "{{ windows_exporter_port }}"
    action: allow
    direction: in
    protocol: tcp
    state: present
    enabled: yes
